Source: ros-jazzy-mola-lidar-odometry
Section: misc
Priority: optional
Maintainer: Jose-Luis Blanco-Claraco <joseluisblancoc@gmail.com>
Build-Depends: debhelper (>= 9.0.0), cmake, ros-jazzy-ament-cmake, ros-jazzy-ament-cmake-gtest, ros-jazzy-ament-cmake-gtest <!nocheck>, ros-jazzy-ament-cmake-xmllint, ros-jazzy-ament-cmake-xmllint <!nocheck>, ros-jazzy-ament-lint-auto <!nocheck>, ros-jazzy-ament-lint-cmake <!nocheck>, ros-jazzy-mola-common, ros-jazzy-mola-input-kitti-dataset, ros-jazzy-mola-input-kitti360-dataset, ros-jazzy-mola-input-mulran-dataset, ros-jazzy-mola-input-paris-luco-dataset, ros-jazzy-mola-input-rawlog, ros-jazzy-mola-input-rosbag2, ros-jazzy-mola-kernel, ros-jazzy-mola-metric-maps <!nocheck>, ros-jazzy-mola-pose-list, ros-jazzy-mola-state-estimation-simple, ros-jazzy-mola-test-datasets <!nocheck>, ros-jazzy-mp2p-icp, ros-jazzy-mrpt-libmaps, ros-jazzy-mrpt-libtclap, ros-jazzy-ros-environment, ros-jazzy-rosbag2-storage-mcap <!nocheck>, ros-jazzy-ros-workspace
Homepage: https://docs.mola-slam.org/
Standards-Version: 3.9.2

Package: ros-jazzy-mola-lidar-odometry
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-jazzy-mola-common, ros-jazzy-mola-input-kitti-dataset, ros-jazzy-mola-input-kitti360-dataset, ros-jazzy-mola-input-mulran-dataset, ros-jazzy-mola-input-paris-luco-dataset, ros-jazzy-mola-input-rawlog, ros-jazzy-mola-input-rosbag2, ros-jazzy-mola-kernel, ros-jazzy-mola-launcher, ros-jazzy-mola-pose-list, ros-jazzy-mola-state-estimation-simple, ros-jazzy-mola-viz, ros-jazzy-mp2p-icp, ros-jazzy-mrpt-libmaps, ros-jazzy-mrpt-libtclap, ros-jazzy-ros-workspace
Description: LIDAR odometry system based on MOLA and MRPT components
