Source: ros-rolling-mola-lidar-odometry
Section: misc
Priority: optional
Maintainer: Jose-Luis Blanco-Claraco <joseluisblancoc@gmail.com>
Build-Depends: debhelper (>= 9.0.0), cmake, ros-rolling-ament-cmake, ros-rolling-ament-cmake-gtest, ros-rolling-ament-cmake-gtest <!nocheck>, ros-rolling-ament-cmake-xmllint, ros-rolling-ament-cmake-xmllint <!nocheck>, ros-rolling-ament-lint-auto <!nocheck>, ros-rolling-ament-lint-cmake <!nocheck>, ros-rolling-mola-common, ros-rolling-mola-input-kitti-dataset, ros-rolling-mola-input-kitti360-dataset, ros-rolling-mola-input-mulran-dataset, ros-rolling-mola-input-paris-luco-dataset, ros-rolling-mola-input-rawlog, ros-rolling-mola-input-rosbag2, ros-rolling-mola-kernel, ros-rolling-mola-metric-maps <!nocheck>, ros-rolling-mola-navstate-fuse, ros-rolling-mola-pose-list, ros-rolling-mola-test-datasets <!nocheck>, ros-rolling-mp2p-icp, ros-rolling-mrpt-libmaps, ros-rolling-mrpt-libtclap, ros-rolling-ros-environment, ros-rolling-rosbag2-storage-mcap <!nocheck>, ros-rolling-ros-workspace
Homepage: https://docs.mola-slam.org/
Standards-Version: 3.9.2

Package: ros-rolling-mola-lidar-odometry
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-rolling-mola-common, ros-rolling-mola-input-kitti-dataset, ros-rolling-mola-input-kitti360-dataset, ros-rolling-mola-input-mulran-dataset, ros-rolling-mola-input-paris-luco-dataset, ros-rolling-mola-input-rawlog, ros-rolling-mola-input-rosbag2, ros-rolling-mola-kernel, ros-rolling-mola-launcher, ros-rolling-mola-navstate-fuse, ros-rolling-mola-pose-list, ros-rolling-mola-viz, ros-rolling-mp2p-icp, ros-rolling-mrpt-libmaps, ros-rolling-mrpt-libtclap, ros-rolling-ros-workspace
Description: LIDAR odometry system based on MOLA and MRPT components
